@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@font-face {
  font-family: "Elza Medium";
  src: url("https://db.onlinewebfonts.com/t/17b73ccfcdea57dba41e6c42becd706e.eot");
  src: url("https://db.onlinewebfonts.com/t/17b73ccfcdea57dba41e6c42becd706e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/17b73ccfcdea57dba41e6c42becd706e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/17b73ccfcdea57dba41e6c42becd706e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/17b73ccfcdea57dba41e6c42becd706e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/17b73ccfcdea57dba41e6c42becd706e.svg#Elza Medium")
      format("svg");
}

@font-face {
  font-family: "Recoleta Medium";
  src: url("https://db.onlinewebfonts.com/t/09167ab604ebbfb1e7b6328321baf783.eot");
  src: url("https://db.onlinewebfonts.com/t/09167ab604ebbfb1e7b6328321baf783.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/09167ab604ebbfb1e7b6328321baf783.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/09167ab604ebbfb1e7b6328321baf783.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/09167ab604ebbfb1e7b6328321baf783.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/09167ab604ebbfb1e7b6328321baf783.svg#Recoleta Medium")
      format("svg");
}

@font-face {
  font-family: "Recoleta Bold";
  src: url("https://db.onlinewebfonts.com/t/f4d849075c9b4c0047fc56a828879854.eot");
  src: url("https://db.onlinewebfonts.com/t/f4d849075c9b4c0047fc56a828879854.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f4d849075c9b4c0047fc56a828879854.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f4d849075c9b4c0047fc56a828879854.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f4d849075c9b4c0047fc56a828879854.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f4d849075c9b4c0047fc56a828879854.svg#Recoleta Bold")
      format("svg");
}

@font-face {
  font-family: "Elza Trial";
  src: url("https://db.onlinewebfonts.com/t/2f0fac2e8d4eb694af48a3b52e6ceed4.eot");
  src: url("https://db.onlinewebfonts.com/t/2f0fac2e8d4eb694af48a3b52e6ceed4.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2f0fac2e8d4eb694af48a3b52e6ceed4.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/2f0fac2e8d4eb694af48a3b52e6ceed4.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/2f0fac2e8d4eb694af48a3b52e6ceed4.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/2f0fac2e8d4eb694af48a3b52e6ceed4.svg#Elza Trial")
      format("svg");
}

body {
  font-family: "Inter", sans-serif;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
